{% if doc_type == 'javadoc' and (code_type == 'method_declaration' or code_type == 'function_definition')-%}
/**
* {{ description }}
{% if parameters -%}
*
{% for param in parameters -%}
 * @param {{ param.name }} {{ param.description }}
{% endfor -%}
{% endif -%}
{% if returns-%}
 * @return {{ returns.description }}
{% endif -%}
{% if exceptions-%}
{% for raise in exceptions -%}
* @throws {{ raise.exception }} {{ raise.description }}
{% endfor -%}
{% endif -%}
*/
{% endif -%}
